<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.56.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wpa81" />
</packages>